*{
    font-family: Verdana;
}

form {
    margin: 0;
}

button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

#input-file-label{
    cursor: pointer;
    padding:0!important;
    border-bottom:1px solid #444; 
}


#mp3-quality{
    padding-bottom: 10px;
}
