*{
    font-family: sans-serif;
}

#output-formats{
    display: none;
}

.output-options{
    display: none;
}

.mp3-bit-rate-mode-options{
    display: none;
}

#mp3-quality{
    display: none;
}

#submit{
    display: none;
}

select{
    display: block;
}