<html>

<head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="static/script.js"></script> 
</head>

<body>
    <p id="demo"></p>
    <form enctype="multipart/form-data" method="post">

    <p><input type="file" name="convertfile" accept="{{.Accept}}"/></p>
            
    {{range $key, $value := .OutFormats}}
        <input type="radio" id="{{ $key }}" value="{{ $value }}" name="format" class="format">
        <label for="{{ $key }}">{{ $value }}</label>
    {{end}}


    <div id="wav-options" class="output-options" display="none">
        bit depth
        <select name="wav-bit-depth">
            {{range $key, $value := .WavOptions.BitDepths}}
                <option value="{{ $key }}">{{ $value }}</option>
            {{end}}
        </select>
    </div>

    <div id="mp3-options" class="output-options">

        channel mode
        <select name="mp3-channel-mode">
            {{range $key, $value := .Mp3Options.ChannelModes}}
                <option value="{{ $key }}">{{ $value }}</option>
            {{end}}
        </select>

        bit rate mode
        <select name="mp3-bit-rate-mode">
            {{range $key, $value := .Mp3Options.BitRateModes}}
                <option value="{{ printf "%d" $key }}">{{ $value }}</option>
            {{end}}
        </select>
        bit rate 
        <select name="mp3-bit-rate">
            {{range $key, $value := .Mp3Options.BitRates}}
                <option value="{{ $value }}">{{ $value }}</option>
            {{end}}
        </select>

        vbr quality
        <select name="mp3-vbr-quality">
            {{range $key, $value := .Mp3Options.VBRQualities}}
                <option value="{{ $key }}">{{ $value }}</option>
            {{end}}
        </select>

        
        <input type="checkbox" name="mp3-define-quality" value="true">define quality<br>

        vbr quality
        <select name="mp3-quality">
            {{range $key, $value := .Mp3Options.Qualities}}
                <option value="{{ $key }}">{{ $value }}</option>
            {{end}}
        </select>
    </div>
        <input type="submit" value="convert">
    </form>
</body>

</html>