<html>

<head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="static/script.js"></script> 
</head>

<body>
    <p id="demo"></p>
    <form id="convert" enctype="multipart/form-data" method="post">

    <input id="input-file" type="file" name="input-file" accept="{{.Accept}}"/>
    <br>
    
    <div id="output-formats">
        {{range $key, $value := .OutFormats}}
            <input type="radio" id="{{ $key }}" value="{{ $value }}" name="format" class="format">
            <label for="{{ $key }}">{{ $value }}</label>
        {{end}}
    </div>

    <div id="wav-options" class="output-options" display="none">
        bit depth
        <select name="wav-bit-depth">
            <option hidden disabled selected value>select</option>
            {{range $key, $value := .WavOptions.BitDepths}}
                <option value="{{ $key }}">{{ $value }}</option>
            {{end}}
        </select>
    </div>

    <div id="mp3-options" class="output-options">
        channel mode
        <select name="mp3-channel-mode">
            <option hidden disabled selected value>select</option>
            {{range $key, $value := .Mp3Options.ChannelModes}}
                <option value="{{ $key }}">{{ $value }}</option>
            {{end}}
        </select>

        bit rate mode
        <select id="mp3-bit-rate-mode" name="mp3-bit-rate-mode">
            <option hidden disabled selected value>select</option>
            {{range $key, $value := .Mp3Options.BitRateModes}}
                <option id="{{ $value }}" value="{{ printf "%d" $key }}">{{ $value }}</option>
            {{end}}
        </select>
        
        <div class="mp3-bit-rate-mode-options mp3-{{ .Mp3Options.ABR }}-options mp3-{{ .Mp3Options.CBR }}-options">
            bit rate 
            <select name="mp3-bit-rate">
                {{range $key, $value := .Mp3Options.BitRates}}
                    <option value="{{ $value }}">{{ $value }}</option>
                {{end}}
            </select>
        </div> 

        <div class="mp3-bit-rate-mode-options mp3-{{ .Mp3Options.VBR }}-options">
            vbr quality
            <select name="mp3-vbr-quality">
                {{range $key, $value := .Mp3Options.VBRQualities}}
                    <option value="{{ $key }}">{{ $value }}</option>
                {{end}}
            </select>
        </div>

        <input type="checkbox" id="mp3-use-quality" name="mp3-use-quality" value="true">define quality<br>

        <div id="mp3-quality">
            quality
            <select name="mp3-quality">
                {{range $key, $value := .Mp3Options.Qualities}}
                    <option value="{{ $key }}">{{ $value }}</option>
                {{end}}
            </select>
        </div>  
    </div>
    
    </form>

    <button id="submit" type="button">convert</button> 
</body>

</html>