<html>

<head>
    <title></title>
</head>

<body>
    <form enctype="multipart/form-data" method="post">

        <p><input type="file" name="convertfile" accept="{{.Accept}}"/></p>
            
        <fieldset id="format">
                {{range $key, $value := .OutFormats}}
            <input type="radio" id="{{ $value }}" value="{{ $value }}" name="format">
            <label for="{{ $value }}">{{ $value }}</label>
            {{end}}
        </fieldset>
        
        <input type="submit" value="Convert">
    </form>
</body>

</html>